<div class="gridbox">
    <div class="vert">
        <div class="box" id="b1">
            <div class="sml"></div>
            <div class="sml"></div>
            <div class="sml"></div>
        </div>
        <div class="box" id="b2">
            <div class="sml"></div>
            <div class="sml"></div>
            <div class="sml"></div>
        </div>
        <div class="box" id="b3">
            <div class="sml"></div>
            <div class="sml"></div>
            <div class="sml"></div>
        </div>
        <div class="box" id="b4">
            <div class="sml"></div>
            <div class="sml"></div>
            <div class="sml"></div>
        </div>
        <div class="box" id="b5">
            <div class="sml"></div>
            <div class="sml"></div>
            <div class="sml"></div>
        </div>
        <div class="box" id="b4">
            <div class="sml"></div>
            <div class="sml"></div>
            <div class="sml"></div>
        </div>
        <div class="box" id="b5">
            <div class="sml"></div>
            <div class="sml"></div>
            <div class="sml"></div>
        </div>
    </div>
</div>
<style>
    .gridbox {
        width: 100%;
        background: #ffffff;
        height: 100vh;
    }
    .vert {
        width: 100%;
        align-items: center;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    .box {

        width: 200px;
        height: 60%;
        padding: 10px;
    }
    .sml {

        background: #dbd6d6;
        width: 100%;
        height: 32%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    #b2 , #b4 {

        margin-top: -10%;
    }


</style>
